/*
.mat-card-cadastro {
    width: 100%;
    margin-top: 20px;
}

.mat-form-field-w100 {
    width: 100%;
}

.mat-card-fotos{
    width: 100%;
}

.card-input-element {
    display: none;
}


.card-input {
    margin: 10px;
    padding: 20px;
    width: 200px;
    
}

.teste {
    width: 190px;
    height: 155px;
}

.card-input:hover {
    cursor: pointer;
}

.card-input-element:checked + .card-input {
    box-shadow: 0 0 1px 1px #2ecc71;
}
*/

.img-car {
    width: 200px;
    height: 155px;
}

.w-100 {
    width: 100%;
}

.clear {
	clear: both;
}

.mat-card-cadastro {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}