<div class="container">
    <div class="row">
        <div class="col-9">
            <img class="img-logo" src="assets/images/logoNovaSem.png">
        </div>
        <div class="col-3 bem-vindo">
            <div *ngIf="usuarioLogado != null">
                Olá, <span class="bem-vindo-texto">{{ usuarioLogado.nome }}</span>
            </div>
        </div>
    </div>
    <!--
    <div *ngIf="usuarioLogado != null">
        <div *ngFor="let role of usuarioLogado.perfis">
            <h4 *ngIf="role == 'ADMIN'">Olá Administrador</h4>
        </div>
    </div>
    -->
    <div class="row">
        <div class="col-4">
            <mat-list>
                <div class="scrollable-content">
                    <h3 mat-header>Colaboradores</h3>
                    <mat-list-item *ngFor="let colaborador of colaboradores">
                        <mat-icon mat-list-icon>account_box</mat-icon>
                        <h4 mat-line>{{ colaborador.nome }}</h4>
                        <p mat-line *ngFor="let role of colaborador.perfis">{{role | titlecase }}</p>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </div>
            </mat-list>
        </div>
        <div class="col-3 offset-2">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Veiculos cadastrados</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <h1>{{ totalVeiculosCadastrados }}</h1>
                </mat-card-content>
            </mat-card>
            <div class="row">
                <div class="col-3">
                    <a [routerLink]="['/colaborador/cadastrar-veiculo']">
                        <mat-card style="height: 94px; width: 255px;" class="mt-2">
                            <mat-card-content>
                                <h3 class="titulo-botao">CADASTRAR NOVO</h3>
                            </mat-card-content>
                        </mat-card>
                    </a>
                </div>
            </div>
        </div>

        <div *ngIf="usuarioLogado != null && usuarioLogado.perfis.indexOf('ADMIN') !== -1">
            <div class="col-3">
                <a>
                    <mat-card class="mat-card-marcas">
                        <mat-card-content>
                            <h3>CADASTRAR MARCA</h3>
                        </mat-card-content>
                    </mat-card>
                </a>
                <div class="row">
                    <div class="col-3 mt-2">
                        <a>
                            <mat-card class="mat-card-modelos">
                                <mat-card-content>
                                    <h3>CADASTRAR MODELO</h3>
                                </mat-card-content>
                            </mat-card>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>