<!--
<div class="container">
    <div class="row">
        <div class="col-9">
            <img class="img-logo" src="assets/images/logoNovaSem.png">
        </div>
        <div class="col-3 bem-vindo">
            <div *ngIf="usuarioLogado != null">
                Olá, <span class="bem-vindo-texto">{{ usuarioLogado.nome }}</span>
            </div>
        </div>
    </div>
    --
    <div class="row">
        <div class="col-4">
            <mat-list>
                <div class="scrollable-content">
                    <h3 mat-header>Colaboradores</h3>
                    <mat-list-item *ngFor="let colaborador of colaboradores">
                        <mat-icon mat-list-icon>account_box</mat-icon>
                        <h4 mat-line>{{ colaborador.nome }}</h4>
                        <p mat-line *ngFor="let role of colaborador.perfis">{{role | titlecase }}</p>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </div>
            </mat-list>
        </div>
        <div class="col-3 offset-2">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Veiculos cadastrados</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <h1>{{ totalVeiculosCadastrados }}</h1>
                </mat-card-content>
            </mat-card>
            <div class="row">
                <div class="col-3">
                    <a [routerLink]="['/colaborador/cadastrar-veiculo']">
                        <mat-card style="height: 94px; width: 255px;" class="mt-2">
                            <mat-card-content>
                                <h3 class="titulo-botao">CADASTRAR NOVO</h3>
                            </mat-card-content>
                        </mat-card>
                    </a>
                </div>
            </div>
        </div>

        <div *ngIf="usuarioLogado != null && usuarioLogado.perfis.indexOf('ADMIN') !== -1">
            <div class="col-3">
                <a [routerLink]="['/admin/colaborador/cadastrar-marca']" >
                    <mat-card class="mat-card-marcas">
                        <mat-card-content>
                            <h3>CADASTRAR MARCA</h3>
                        </mat-card-content>
                    </mat-card>
                </a>
                <div class="row">
                    <div class="col-3 mt-2">
                        <a>
                            <mat-card class="mat-card-modelos">
                                <mat-card-content>
                                    <h3>CADASTRAR MODELO</h3>
                                </mat-card-content>
                            </mat-card>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row" style="height: 100%;">
    <div class="col-2 container-menu-lateral">
        <div class="row">
            <button class="novo-veiculo" (click)="trocarPagina('cadastro-veiculo')">
                <i class="fas fa-car icon-menu"></i>
                <span class="opcao-menu">Novo veículo</span>
            </button>
        </div>

        <span class="titulo-menu">Painel</span>
        <div class="textos-menu">
            <div class="row">
                <div *ngIf="selecaoMenu == 'dashboard'">
                    <i class="fas fa-dot-circle" style="color: blueviolet; margin-right: 6px;"></i>
                </div>
                <a class="opcao-menu" (click)="trocarPagina('dashboard')">
                    Menu principal
                </a>
            </div>
        </div>
        <span class="titulo-menu">VEÍCULO</span>
        <div class="textos-menu">

            <div class="row">
                <div *ngIf="selecaoMenu == 'cadastro-veiculo'">
                    <i class="fas fa-dot-circle" style="color: blueviolet; margin-right: 6px;"></i>
                </div>
                <i class="fas fa-car icon-menu"></i>
                <a class="opcao-menu" (click)="trocarPagina('cadastro-veiculo')">
                    Cadastrar veículo
                </a>
            </div>

            <div *ngIf="usuarioLogado != null && usuarioLogado.perfis.indexOf('ADMIN') !== -1">
                <div class="row">
                    <div *ngIf="selecaoMenu == 'cadastro-marca'">
                        <i class="fas fa-dot-circle" style="color: blueviolet; margin-right: 6px;"></i>
                    </div>
                    <i class="fas fa-car icon-menu"></i>
                    <a class="opcao-menu" (click)="trocarPagina('cadastro-marca')">
                        Cadastrar marca
                    </a>
                </div>
            </div>

            <div *ngIf="usuarioLogado != null && usuarioLogado.perfis.indexOf('ADMIN') !== -1">
                <div class="row">
                    <div *ngIf="selecaoMenu == 'cadastro-modelo'">
                        <i class="fas fa-dot-circle" style="color: blueviolet; margin-right: 6px;"></i>
                    </div>
                    <i class="fas fa-car icon-menu"></i>
                    <span class="opcao-menu">Cadastrar modelo</span>
                </div>
            </div>

            <div *ngIf="usuarioLogado != null && usuarioLogado.perfis.indexOf('ADMIN') !== -1">
                <div class="row">
                    <i class="fas fa-car icon-menu"></i>
                    <span class="opcao-menu">Cadastrar versão</span>
                </div>
            </div>

            <div *ngIf="usuarioLogado != null && usuarioLogado.perfis.indexOf('ADMIN') !== -1">
                <div class="row">
                    <i class="fas fa-truck icon-menu"></i>
                    <span class="opcao-menu">Cadastrar cor</span>
                </div>
            </div>

            <div *ngIf="usuarioLogado != null && usuarioLogado.perfis.indexOf('ADMIN') !== -1">
                <div class="row">
                    <i class="fas fa-truck icon-menu"></i>
                    <span class="opcao-menu">Cadastrar combustivel</span>
                </div>
            </div>

            <div *ngIf="usuarioLogado != null && usuarioLogado.perfis.indexOf('ADMIN') !== -1">
                <div class="row">
                    <i class="fas fa-truck icon-menu"></i>
                    <span class="opcao-menu">Cadastrar opcional</span>
                </div>
            </div>

            <div *ngIf="usuarioLogado != null && usuarioLogado.perfis.indexOf('ADMIN') !== -1">
                <div class="row">
                    <i class="fas fa-truck icon-menu"></i>
                    <span class="opcao-menu">Cadastrar tipo</span>
                </div>
            </div>

            <div *ngIf="usuarioLogado != null && usuarioLogado.perfis.indexOf('ADMIN') !== -1">
                <div class="row">
                    <i class="fas fa-cogs icon-menu"></i>
                    <span class="opcao-menu">Cadastrar câmbio</span>
                </div>
            </div>

            <div *ngIf="usuarioLogado != null && usuarioLogado.perfis.indexOf('ADMIN') !== -1">
                <div class="row">
                    <i class="fas fa-truck icon-menu"></i>
                    <span class="opcao-menu">Cadastrar adicional</span>
                </div>
            </div>

        </div>

        <div *ngIf="usuarioLogado != null && usuarioLogado.perfis.indexOf('ADMIN') !== -1">
            <span class="titulo-menu">Colaborador</span>
            <div class="textos-menu">
                <div class="row">
                    <i class="fas fa-user-edit icon-menu"></i>
                    <span class="opcao-menu">Cadastrar colaborador</span>
                </div>
            </div>
        </div>

    </div>

    <div class="col container-conteudo">

        <div [ngSwitch]="selecaoMenu">
            <div *ngSwitchCase="'dashboard'">
                <app-dashboard></app-dashboard>
            </div>
            <div *ngSwitchCase="'cadastro-veiculo'">
                <app-cadastro-veiculo></app-cadastro-veiculo>
            </div>
            <div *ngSwitchCase="'cadastro-marca'">
                <app-cadastro-marca></app-cadastro-marca>
            </div>
        </div>

    </div>

</div>
-->

<mat-drawer-container class="drawer-container">
    <mat-drawer [mode]="modeDrawer">
        <div *ngIf="usuarioLogado">
            <div class="user-info">
                <h2>{{ usuarioLogado.nome }}</h2>
                <p>{{ usuarioLogado.email }}</p>
            </div>
            <h2 class="user-img"><img [src]="'assets/images/layout/user.jpg'"></h2>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <nav class="menu">
            <div class="btn-menu-lateral">
                <button (click)="toggleMenuDrawer()"><i class="fas fa-bars"></i></button>
            </div>
            <div class="container">
                <ul>
                    <li><a routerLink="/estoque"><i class="fas fa-th-list"></i>Estoque</a></li>
                    <li><a routerLink="/colaborador/login"><i class="fas fa-sign-in-alt"></i>Colaborador</a></li>
                </ul>
            </div>
        </nav>
       <app-cadastro-veiculo></app-cadastro-veiculo>
    </mat-drawer-content>
</mat-drawer-container>