/*
.opcao {
    height: 200px;
}

.img-logo{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 210px;
    height: 46px;
}


mat-card{
    margin: 0;
    height: 192px;
}

mat-card-content h1 {
    display: flex;
    justify-content: center;
    color: #D9043D;
    font-size: 60px;
    margin-top: 20px;;
}

mat-card-content h3 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

mat-card-header mat-card-title {
    font-size: 17px;
    margin-left: 15px;
}

a {
    text-decoration: none;
}

.scrollable-content {
    overflow: auto;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.mat-card-marcas {
    width: 200px;
    height: 92px;
}

.mat-card-modelos {
    width: 200px;
    height: 92px;
}

.bem-vindo{
    margin-top: 30px;
    font-size:  20px;
    color: #151C26;
    font-family: 'Roboto', sans-serif;
}

.bem-vindo-texto {
    
    font-weight: 900;
}


.container-menu-lateral {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    opacity: 10;
}

.textos-menu {
    margin-left: 30px;
    margin-top: 10px;
}

.icon-menu {
    margin-right: 7px;
}

.opcao-menu {
    font-family: 'Raleway', sans-serif;
    font-stretch: 400;
    margin-bottom: 25px;
    font-size: 13px;
    cursor: pointer;
}

.titulo-menu{
    margin: 10px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;

}

.novo-veiculo{
    color: #fff;
    border-radius: 4px;
    background: #eeb711;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border-radius: 30px;
    padding: 6px 20px;
    border: none;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 50px;
}

*/

.drawer-container {
    width: 100%;
    height: 100vh;
    border: 1px solid #555;
  }

mat-drawer{
    width: 220px;
}
  

/* MENU HORIZONTAL */
.menu {
	width: 100%;
	height: 50px;
	line-height: 50px;
	float: right;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    position: static;
    background-color: white;
}

.menu li {
	padding: 0;
	float: right;
}

.menu li a {
	color: #4d4c59;
	font-weight: 400;
	font-size: 0.8em;
	padding: 15px;
	font-family: 'Poppins', sans-serif;
}

.menu li a i {
	padding: 0 5px;
}

.menu li a:hover{
	border: none;
	color: #da6709;
}

.btn-menu-lateral {
 float: left;
 padding: 0 10px;
}

.btn-menu-lateral button{
    background-color: white;
}

.user-img img{
    float: right;
    width: 28px;
    height: 28px;
    border-radius: 87px;
    font-size: 0;
    margin: 0 8px 0 0;
    margin-top: 16px;
    
}

.user-info {
    margin-right: 32px;
    margin-top: 15px;
    float: right;
    font-family: 'Poppins', sans-serif;

}

.user-info h2{
    font-weight: 400;
    font-size: 0.8em;
}

.user-info p{
    margin-top: -2px;
    font-size: 0.6em;

}

@media screen and (max-width: 480px) {

}