.divisor {
    width: auto;
    height: 5px;
    background-color: red;
    margin-bottom: 20px;
}

img {
    width: 177px;
     height: 76px;
}

mat-toolbar {
    background-color: white;
    margin: 20px;
}