








/*
img {
     width: 220px;
     height: 93px;
}

.menu-superior {
    background-color: #151C26;
    height: 38px;
}

.menu-superior a {
    text-decoration: none;
    color: white;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    
}

.estoque-link {
    margin-left: 80px;
}

*/