img {
     width: 220px;
     height: 92px;
}

.menu-superior {
    background-color: #df0000;
    height: 40px;
}

.menu-superior a {
    text-decoration: none;
    color: white;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
}

.estoque-link {
    margin-left: 80px;
}