.card-filtro-avancado {
    height: auto;
}

.card-filtro {
 margin-bottom: 10px;
}

.opcao-lista{
    width: 400px;
}

.mat-form-w100 {
    width: 100%;
}

.limpar {
    margin-left: 90px;
    font-size: 13px;
    color: red;
    cursor: pointer;
    
}