<form [formGroup]="formGroup">
    <div class="row">
        <div class="col">
            <mat-card class="card-filtro-avancado card-filtro">
                <mat-card-header>
                    <mat-card-title>Filtro</mat-card-title>
                    <a class="limpar" (click)="limparFiltroMarcaModelo()">limpar</a>
                </mat-card-header>
                <mat-card-content>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="mat-form-w100">
                                <mat-label>Marca</mat-label>
                                <mat-select formControlName="marca" (ngModelChange)="buscarVeiculosEModelosPorMarca()">
                                    <mat-option>--selecionar--</mat-option>
                                    <mat-option *ngFor="let marca of marcas" [value]="marca">{{ marca.nome }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="mat-form-w100">
                                <mat-label>Modelo</mat-label>
                                <mat-select formControlName="modelo" (ngModelChange)="filtrarVeiculosPorModelo()">
                                    <mat-option *ngFor="let modelo of modelos" [value]="modelo" class="opcao-lista">
                                        {{ modelo.nome }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="mat-form-w100">
                                <mat-label>Versão</mat-label>
                                <mat-select formControlName="versao" (ngModelChange)="filtrarVeiculosPorVersao()">
                                    <mat-option *ngFor="let versao of versoes" [value]="versao" class="opcao-lista">
                                        {{ versao.nome }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <mat-card class="card-filtro">
                <mat-card-header>
                    <mat-card-title>Preço</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="mat-form-w100">
                                <input matInput #dePreco name="depreco" placeholder="De"
                                    (input)="filtrarPorPrecoDe(dePreco.value)">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="mat-form-w100">
                                <input matInput #atePreco name="atepreco" placeholder="Até"
                                    (input)="filtrarPorPrecoAte(atePreco.value)">
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <mat-card class="card-filtro">
                <mat-card-header>
                    <mat-card-title>Ano</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="mat-form-w100">
                                <input matInput #deAno name="deano" maxlength="4" placeholder="De"
                                    (input)="filtrarDeAno(deAno.value)">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="mat-form-w100">
                                <input matInput #ateAno name="ateano" maxlength="4" placeholder="Até"
                                    (input)="filtrarAteAno(ateAno.value)">
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <mat-card class="card-filtro">
                <mat-card-header>
                    <mat-card-title>KM</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="mat-form-w100">
                                <input matInput #deKm name="dekm" placeholder="De" (input)="filtrarDeKm(deKm.value)">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="mat-form-w100">
                                <input matInput #ateKm name="atekm" placeholder="Até"
                                    (input)="filtrarAteKm(ateKm.value)">
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <mat-card class="card-filtro">
                <mat-card-header>
                    <mat-card-title>Outros</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="mat-form-w100">
                                <mat-label>Cor</mat-label>
                                <mat-select multiple formControlName="cores" (ngModelChange)="filtrarPorCores()">
                                    <mat-option *ngFor="let cor of cores" [value]="cor">{{ cor.nome }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="mat-form-w100">
                                <mat-label>Câmbio</mat-label>
                                <mat-select multiple formControlName="cambios" (ngModelChange)="filtrarPorCambios()">
                                    <mat-option *ngFor="let cambio of cambios" [value]="cambio">{{ cambio.nome }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="mat-form-w100">
                                <mat-label>Combustível</mat-label>
                                <mat-select multiple formControlName="combustiveis"
                                    (ngModelChange)="filtrarPorCombustiveis()">
                                    <mat-option *ngFor="let comb of combustiveis" [value]="comb">{{ comb.nome }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="mat-form-w100">
                                <mat-label>Adicionais</mat-label>
                                <mat-select multiple formControlName="adicionais"
                                    (ngModelChange)="filtrarPorAdicionais()">
                                    <mat-option *ngFor="let adicional of adicionais" [value]="adicional.nome">
                                        {{ adicional.nome }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="mat-form-w100">
                                <mat-label>Tipo</mat-label>
                                <mat-select multiple formControlName="tipos" (ngModelChange)="filtrarPorTipos()">
                                    <mat-option *ngFor="let tipo of tipos" [value]="tipo">
                                        {{ tipo.nome }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="mat-form-w100">
                                <mat-label>Opcionais</mat-label>
                                <mat-select multiple formControlName="opcionais"
                                    (ngModelChange)="filtrarPorOpcionais()">
                                    <mat-option *ngFor="let opcional of opcionais" [value]="opcional.nome">
                                        {{ opcional.nome }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</form>