<app-menu-anuncio></app-menu-anuncio>
<div class="container">
    <div class="menu-page">

    </div>
    <div class="row">

        <div class="col-3">
            <app-filtro-veiculos (veiculos)="receberVeiculosFiltro($event)"
                (tamanhoLista)="receberTamanhoListaFiltro($event)" (vPesquisa)="receberVeiculoPesquisa($event)"
                [paginator]="paginator">
            </app-filtro-veiculos>
        </div>

        <div class="col-9">
            <div class="row" *ngFor="let veiculo of veiculos; let i = index">
                <div class="col">
                    <a>
                        <mat-card class="card-veiculo">
                            <div class="row">
                                <div class="col-5">

                                    <div *ngIf="veiculo.pictures.length == 0">
                                        <img [src]="'assets/images/car-default.png'">
                                    </div>

                                    <div *ngIf="veiculo.pictures.length != 0">
                                        <div class="swiper-container" [swiper]="config">
                                            <div class="swiper-wrapper">
                                                <div *ngFor="let picture of veiculo.pictures" class="swiper-slide">
                                                    <img [src]="picture?.fileName">
                                                </div>
                                            </div>
                                            <div class="swiper-button-prev"></div>
                                            <div class="swiper-button-next"></div>
                                        </div>

                                    </div>

                                </div>

                                <div class="col-7">
                                    <mat-card-header class="mat-card-header-anuncio ">
                                        <mat-card-title class="card-title-veiculo">{{veiculo.versao.modelo.marca.nome}}
                                            {{veiculo.versao.modelo.nome}}</mat-card-title>
                                        <mat-card-subtitle >
                                            <p class="versao">{{ veiculo.versao.nome }}</p>
                                            <span class="card-subtitle-veiculo">{{veiculo.preco | currency:'BRL'}}</span>
                                        </mat-card-subtitle>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <mat-list>
                                            <div class="row">
                                                <div class="col-4 container-itens-veiculo">
                                                    <mat-list-item>
                                                        <mat-icon style="color: #D9043D;" mat-list-icon>today</mat-icon>
                                                        <h4 mat-line style="font-size: 13px; font-family: 'Nunito', sans-serif;">Ano</h4>
                                                        <p mat-line style="font-size: 13px; font-family: 'Nunito', sans-serif;">{{ veiculo.ano }}</p>
                                                    </mat-list-item>
                                                    <mat-list-item>
                                                        <mat-icon  style="color: #D9043D;" mat-list-icon>money</mat-icon>
                                                        <h4 mat-line style="font-size: 13px; font-family: 'Nunito', sans-serif;">Km</h4>
                                                        <p mat-line style="font-size: 13px; font-family: 'Nunito', sans-serif;">{{ veiculo.kmRodado }}</p>
                                                    </mat-list-item>
                                                </div>
                                                <div class="col-6">
                                                    <mat-list-item>
                                                        <mat-icon style="color: #D9043D;" mat-list-icon>directions_car</mat-icon>
                                                        <h4 mat-line style="font-size: 13px; font-family: 'Nunito', sans-serif;">Câmbio</h4>
                                                        <p mat-line style="font-size: 13px; font-family: 'Nunito', sans-serif;">{{ veiculo.cambio.nome }}</p>
                                                    </mat-list-item>
                                                    <mat-list-item>
                                                        <mat-icon style="color: #D9043D;" mat-list-icon>local_gas_station</mat-icon>
                                                        <h4 mat-line style="font-size: 13px; font-family: 'Nunito', sans-serif;">Combustível</h4>
                                                        <p mat-line style="font-size: 13px; font-family: 'Nunito', sans-serif;">{{ veiculo.combustivel.nome }}</p>
                                                    </mat-list-item>
                                                </div>
                                            </div>
                                        </mat-list>
                                        <div class="row">
                                            <div class="col" style="height: 46px;">
                                                <p class="opcionais-veiculo">
                                                    <ng-container *ngFor="let opc of veiculo.opcionais | slice:0:5;">
                                                            <i class="fas fa-angle-right"></i>
                                                            {{ opc.nome }}  
                                                    </ng-container>
                                                </p>
                                            </div>
                                        </div>
                                    </mat-card-content>
                                    <mat-card-footer>
                                        <button mat-flat-button class="botao-mensagem">
                                            <i class="fab fa-whatsapp" style="margin-right: 3px;"></i>
                                            MENSAGEM
                                        </button>
                                    </mat-card-footer>
                                </div>
                            </div>
                        </mat-card>
                    </a>
                </div>
            </div>
            <mat-paginator [length]="tamanhoLista" [pageSize]="24" [pageSizeOptions]="[3, 5, 10, 24]"
                style="margin-top: 5px"></mat-paginator>
        </div>
    </div>
</div>