img {
    width: 370px;
    height: 280px;
}

.card-veiculo {
    height: 315px;
    margin-bottom: 20px;
}

.card-title-veiculo{
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.card-subtitle-veiculo {
    font-size:  30px;
    color: #151C26;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}

.swiper-container {
    width: 370px;
    height: 280px;
}

a {
    text-decoration: none;
}

.container-itens-veiculo {
    margin-left: 43px;
}

.botao-mensagem {
    color: white;
    background-color:#34af23;
    margin-left: 323px;
    
}

b {
    font-size: 15px;
}

.menu-page {
    background-color: #D9043D;
    margin: 20px 0 20px 0;
    height: 60px;
}

mat-icon {
    color: #151C26;
}

.mat-list .mat-list-item {
    height: 50px; /* default is 72px */
    
  }