<!--
<app-menu-anuncio></app-menu-anuncio>
<div class="container">
    <div class="menu-page">
        
    </div>
    <div class="row">
        
        <div class="col-3">
            <app-filtro-veiculos
                (tamanhoLista)="receberTamanhoListaFiltro($event)" (vPesquisa)="receberVeiculoPesquisa($event)"
                [paginator]="paginator">
            </app-filtro-veiculos>
        </div>

        <div class="col-9">
            <div class="row" *ngFor="let veiculo of veiculos; let i = index">
                <div class="col">
                    <a>
                        <mat-card class="card-veiculo">
                            <div class="row">
                                <div class="col-5">

                                    <div *ngIf="veiculo.pictures.length == 0">
                                        <img [src]="'assets/images/car-default.png'">
                                    </div>

                                    <div *ngIf="veiculo.pictures.length != 0">
                                        <div class="swiper-container" [swiper]="config">
                                            <div class="swiper-wrapper">
                                                <div *ngFor="let picture of veiculo.pictures" class="swiper-slide">
                                                    <img [src]="picture?.fileDownloadUri">
                                                </div>
                                            </div>
                                            <div class="swiper-button-prev"></div>
                                            <div class="swiper-button-next"></div>
                                        </div>

                                    </div>

                                </div>

                                <div class="col-7">
                                    <mat-card-header class="mat-card-header-anuncio ">
                                        <mat-card-title class="card-title-veiculo">{{veiculo.versao.modelo.marca.nome}}
                                            {{veiculo.versao.modelo.nome}}</mat-card-title>
                                        <mat-card-subtitle >
                                            <p class="versao">{{ veiculo.versao.nome }}</p>
                                            <span class="card-subtitle-veiculo">{{veiculo.preco | currency:'BRL'}}</span>
                                        </mat-card-subtitle>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <mat-list>
                                            <div class="row">
                                                <div class="col-4 container-itens-veiculo">
                                                    <mat-list-item>
                                                        <mat-icon style="color: #D9043D;" mat-list-icon>today</mat-icon>
                                                        <h4 mat-line style="font-size: 13px; font-family: 'Nunito', sans-serif;">Ano</h4>
                                                        <p mat-line style="font-size: 13px; font-family: 'Nunito', sans-serif;">{{ veiculo.ano }}</p>
                                                    </mat-list-item>
                                                    <mat-list-item>
                                                        <mat-icon  style="color: #D9043D;" mat-list-icon>money</mat-icon>
                                                        <h4 mat-line style="font-size: 13px; font-family: 'Nunito', sans-serif;">Km</h4>
                                                        <p mat-line style="font-size: 13px; font-family: 'Nunito', sans-serif;">{{ veiculo.kmRodado }}</p>
                                                    </mat-list-item>
                                                </div>
                                                <div class="col-6">
                                                    <mat-list-item>
                                                        <mat-icon style="color: #D9043D;" mat-list-icon>directions_car</mat-icon>
                                                        <h4 mat-line style="font-size: 13px; font-family: 'Nunito', sans-serif;">Câmbio</h4>
                                                        <p mat-line style="font-size: 13px; font-family: 'Nunito', sans-serif;">{{ veiculo.cambio.nome }}</p>
                                                    </mat-list-item>
                                                    <mat-list-item>
                                                        <mat-icon style="color: #D9043D;" mat-list-icon>local_gas_station</mat-icon>
                                                        <h4 mat-line style="font-size: 13px; font-family: 'Nunito', sans-serif;">Combustível</h4>
                                                        <p mat-line style="font-size: 13px; font-family: 'Nunito', sans-serif;">{{ veiculo.combustivel.nome }}</p>
                                                    </mat-list-item>
                                                </div>
                                            </div>
                                        </mat-list>
                                        <div class="row">
                                            <div class="col" style="height: 46px;">
                                                <p class="opcionais-veiculo">
                                                    <ng-container *ngFor="let opc of veiculo.opcionais | slice:0:5;">
                                                            <i class="fas fa-angle-right"></i>
                                                            {{ opc.nome }}  
                                                    </ng-container>
                                                </p>
                                            </div>
                                        </div>
                                    </mat-card-content>
                                    <mat-card-footer>
                                        <button mat-flat-button class="botao-mensagem">
                                            <i class="fab fa-whatsapp" style="margin-right: 3px;"></i>
                                            MENSAGEM
                                        </button>
                                    </mat-card-footer>
                                </div>
                            </div>
                        </mat-card>
                    </a>
                </div>
            </div>
            <mat-paginator [length]="tamanhoLista" [pageSize]="pageSize" [pageSizeOptions]="[3, 5, 10, 24]"
                style="margin-top: 5px"></mat-paginator>
        </div>
    </div>
</div>
-->

<!-- PAGINACAO -->
<div class="container">
    <div class="paginacao">
        <ul>
            <li>
                <a class="next">
                    PROXIMA PÁGINA
                </a>
            </li>
            <li>
                <a class="prev">
                    PÁGINA ANTERIOR
                </a>
            </li>
        </ul>
        <div class="ordem-pesquisa">
            <select name="ordem-pesquisa">
                <option value="maior-preco">Maior Preço</option>
                <option value="meno-preco">Menor Preço</option>
                <option value="maior-ano">Maior Ano</option>
                <option value="menor-ano">Menor Ano</option>
            </select>
        </div>
    </div>
</div>

<app-filtro-veiculos (tamanhoLista)="receberTamanhoListaFiltro($event)" (vPesquisa)="receberVeiculoPesquisa($event)"
[paginator]="paginator"></app-filtro-veiculos>

<!-- ANUNCIO -->
<div class="container">
    <a href="#" *ngFor="let veiculo of veiculos; let i = index">
        <article class="anuncio">
            <p class="codigo-anuncio">Cod.{{ veiculo.id }}</p>


            <!--
            <div class="imagem-anuncio">
                <img [src]="veiculo.picture?.fileDownloadUri || 'assets/images/car-default.png'"
                    [alt]="veiculo.versao.nome">
            </div>
        -->


            <div *ngIf="veiculo.pictures.length == 0">
                <div class="imagem-anuncio">
                    <img [src]="'assets/images/car-default.png'">
                </div>
            </div>


            <div *ngIf="veiculo.pictures.length != 0">
                <div class="imagem-anuncio">
                    <div class="swiper-container" [swiper]="config">
                        <div class="swiper-wrapper">
                            <div *ngFor="let picture of veiculo.pictures" class="swiper-slide">
                                <img [src]="picture?.fileDownloadUri">
                            </div>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>

            <div class="header-anuncio">
                <h2>{{ veiculo.versao.modelo.marca.nome }} {{ veiculo.versao.modelo.nome }}</h2>
                <p>{{ veiculo.versao.nome }}</p>
                <h3>{{ veiculo.preco | currency:'BRL'}}</h3>
            </div>
            <div class="info-anuncio">

                <div class="info-icon">
                    <i class="far fa-calendar-alt fa-lg"></i>
                    <h4>Ano</h4>
                    <p>{{ veiculo.ano }}</p>
                </div>
                <div class="info-icon">
                    <i class="fas fa-cogs fa-lg"></i>
                    <h4>Câmbio</h4>
                    <p>{{ veiculo.cambio.nome }}</p>
                </div>
                <div class="info-icon">
                    <i class="fas fa-tachometer-alt fa-lg"></i>
                    <h4>KM</h4>
                    <p>{{ veiculo.kmRodado }}</p>
                </div>
                <div class="info-icon">
                    <i class="fas fa-gas-pump fa-lg"></i>
                    <h4>Combustível</h4>
                    <p>{{ veiculo.combustivel.nome}}</p>
                </div>
            </div>
            <div class="opcionais">
                <p class="opcionais-veiculo">
                    <ng-container *ngFor="let opc of veiculo.opcionais | slice:0:5;">
                        <i class="fas fa-angle-right"></i>
                        {{ opc.nome }}
                    </ng-container>
                </p>
            </div>
            <button class="btn-whatsapp">
                <i class="fab fa-whatsapp"></i>
            </button>
            <button class="btn-mail">
                <i class="fas fa-envelope"></i>
            </button>
        </article>
    </a>
    <mat-paginator [length]="tamanhoLista" [pageSize]="pageSize" [pageSizeOptions]="[3, 5, 10, 24]"
        style="margin-top: 5px; float: right;"></mat-paginator>
</div>